body {
	margin: 0;
	padding: 0;
	background: #000;
	height: 100%;
}
canvas {
	position: fixed:
	top: 0;
	left: 0;
	z-index: 0;
}
#keyboardHack {
	width: 30px;
	height: 30px;
  	background-image: url('keyboard.png');
  	background-repeat:no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
	border: 0px;
	padding: 0px;
	margin: 3px;
	z-index: 100;
}
.menu-icon {
	width: 30px;
	height: 30px;
	margin: 3px;
}
.menu {
	width: 30px;
	position: fixed;
	bottom: 0;
	right: 0;
}
.menu-open {
	width: 30px;
}
.menu-contents {
	visibility: hidden;
}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}
